#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

header {
  position: absolute;  /* 絶対位置を指定 */
  top: 20px;              /* 上端からの距離を0にする */
  left: 5px;            /* 右端からの距離を0にする */
  font-size: 70px;     /* 文字の大きさを35pxに設定 */
  color: black;        /* 文字の色を黒に設定 */
  padding: 10px;       /* ヘッダーの内側の余白を設定 */
  background-color: #fff;  /* 背景色を白に設定（必要に応じて変更可） */
  z-index: 10;         /* 他の要素の上に表示させるためのz-index */
}

header h1 {
  color: black;  /* 文字色を黒に */
  font-size: 35px;  /* フォントサイズを35pxに */
  margin: 0;  /* デフォルトのマージンを削除 */
}

.table-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  max-width: 100%;
}

.table-row {
  display: flex;
}

.table-cell {
  flex: 1; 
  border: 1px solid black;
  padding: 10px;
  font-size: 35px;  /* フォントサイズを35pxに */
  text-align: center;
  box-sizing: border-box; 
}

.message-waiting {
  font-size: 50px;      /* フォントの大きさを50pxに設定 */
  font-weight: bold;    /* フォントを太字にする */
  color: black;         /* 文字の色を黒に設定 */
  text-align: center;   /* テキストを中央揃えにする */
  padding: 20px;        /* メッセージの周囲の余白を設定 */
  margin-top: 100px;    /* メッセージの上の余白を設定（必要に応じて変更） */
}
